<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0px;
      }
      .box {
        height: 150px;
        width: 150px;
        background-color: black;
        color: #ffff;
      }

      .container {
        display: flex;
        justify-content: space-between;
        height: 450px;
      }
      .b2 {
        align-self: center;
      }
      .b3 {
        align-self: flex-end;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box b1">div1</div>
      <div class="box b2">div2</div>
      <div class="box b3">div3</div>
    </div>
  </body>
</html>
